


.latest {
    width: 40%;
    overflow: auto;
    float: left;
    padding-left: 10%;

    .story {
        width: auto;
        height: auto;
        border-radius: 3px;
        margin: 20px 10px 10px 30px;
        padding: 2px 10px 2px 30px;
        overflow: hidden;
        box-shadow: 1px 1px 5px grey;


        p {
            width: 600%;
            overflow: hidden;
        }

        .l_img {
            height: 200px;
            width: 500px;
        }
        
    }
    .header {
        padding-left: 40%;
    }
}

.popular {
    width: 28%;
    overflow: hidden;
    float: left;
    padding-left: 5%;

    .story {
        width: auto;
        height: auto;
        border-radius: 3px;
        margin: 20px 10px 10px 30px;
        padding: 2px 10px 2px 10px;
        overflow: hidden;
        box-shadow: 1px 1px 5px grey;


        .oop {
            float: left;
            padding-left: 20px;

            p {
                width: 600%;
                overflow: hidden;
            }
        }

        .p_img {
            width: 100px;
            height: 80px;
            padding: 10px 2px 10px 80px;
        }
    }
    .header {
        padding-left: 40%;
    }
}