$colors: (
  primary: #7D7D7D,
  accent1: #fff,
  accent2: #000,
  accent3:#ccc,
  accent4:#f4c136
);

@function color($color-name){
    @return map-get($colors,$color-name);
}

body,html{

    height: 100%;
    background-color:color(accent1);
    width: 55%;  
    margin: 60px auto
}
body{

    background-color: color(accent1);

    form {

        background-color: color(accent4);
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid color(accent2);
        box-sizing: border-box;
      }

     /* buttons */
button {
    background-color:color(accent2);
    color: color(accent1);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /*  buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: color(accent4);
  }
  .cancelbtn:hover{
      background-color: red;
  }
  
  
  
  /*  containers */
  .container {
    padding: 16px;
  }
  
  /*  "Forgot password"  */
  span.psw {
    float: right;
    padding-top: 16px;
  }
 
  
}
@media screen and (max-width: 800px) {
 body{

    margin:0;
    padding:0;
    width: 100;
 }
   form{
       width:160%;
       margin: 50px auto;
   }

    
  }